<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulaire de Calcul</h1>

    <hr>

    <form action="/calculer" method="get">
        <h3>Cercle</h3>
        <label for="rayon">Rayon : </label>
        <input type="text" name="rayon" size="3">

        <br>
        <div>Centre</div>
        <label for="x0">X0 : </label>
        <input type="text" name="x0" size="3">
        <br>
        <label for="y0">Y0 : </label>
        <input type="text" name="y0" size="3">

        <hr>

        <button type="submit">Envoyer</button>
    </form>
</body>
</html>